.pad {
    padding: 2em;
  }
  .loading {
      position: relative;
      &::before,
      &::after {
          content: '';
          width: 0.5em;
          height: 0.5em;
          display: block;
          border-radius: 50%;
          position: absolute;
          transform-origin: 50% 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      &::before {
          background: #A9A9A9;
      }
      &::after {
          background: transparent;
          border: 2px solid #A9A9A9;
          animation: growCircle 1s ease-out infinite;
      }
  }
  
  @keyframes growCircle {
      0% {
          transform: translate(-50%, -50%) scale(0);
          opacity: 1;
      }
      90% {
          opacity: 0;
      }
      100% {
          transform: translate(-50%, -50%) scale(2);
          opacity: 0;
      }
  }